.btn_up {
    position: fixed;
    bottom: -50px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #333;
    z-index: 100;
    outline: 0!important;
    transition: .4s;
}

.btn_up:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn_up.active {
    bottom: 50px;
}

///* описание контейнера */
//.leftbar-wrap {
//position: fixed;
//height: 100%;
//top: 0;
//width: 99px !important;
//left: 0;
//}
// 
///* описание кнопки «Вверх» */
//.left-controlbar {
//height: 100%;
//display: block;
//text-decoration: none;
//}
// 
///* описание кнопки «Вернуться» */
//#scroll-back {
//display: block;
//height: 100%;
//top: 0;
//display: none;
//text-align: center;
//}
// 
///* описание столбца фонового цвета для обеих кнопок */
//.active-area {
//width: 100px;
//height: 100%;
//display: block;
//text-align: center;
//}
// 
///* задаем прозрачность фонового цвета при наведении на активную область страницы */
//.leftbar-wrap:hover .active-area {
//background: #E1E7ED !important;
//opacity:0.7 !important;
//}
// 
///* делаем подсветку немного ярче при наведении на надпись */
//.leftbar-wrap .active-area:hover {
// 
//}
// 
///* центрируем надпись у кнопок */
//.bar-desc-niz {
//top: 26% !important;
//position: relative;
//display: inline-block;
//}
// 
//.bar-desc-top {
//top: 10% !important;
//position: relative;
//display: inline-block;
//}
