/*Global Veriables*/

$first-font-family: "Source Sans Pro", sans-serif;
$second-font-family: "Open Sans", sans-serif;
$menu-font-size: 16px;
$white-color: #ffffff;
$color-blue: #0000CD;
$color-for-btn-portfolio: #464646;